.wrapper {
    width: 100%;
}

.form_root {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form_field {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input_header {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.input_label {
    color: var(--secondary-color);
}

.message_error {
    font-size: 0.85rem;
    color: var(--red);
}
