.root {
    flex: none;
    height: 2.5rem;
    min-width: 2.5rem;

    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0.35rem;

    background-color: var(--accent-background);
}

.root:hover {
    filter: brightness(0.9);
}

.highlight[data-state='on'] {
    background-color: var(--blue);
    color: var(--white);
}
