.root {
    flex: none;
    width: 1.35rem;
    height: 1.35rem;
    padding: 0;

    display: grid;
    place-items: center;

    border-radius: 0.35rem;

    background-color: var(--accent-background);
}

.root[data-state='on'] {
    background-color: var(--blue);
    color: var(--white);
}
